.add_new_post {
    margin-top: 21vh;
}

.post_submit {
    margin-left: 2vh;
}

.post_title {
    font-weight: 900;
}

.btn-primary {
    color: #fff;
    background-color: #754ffe;
    border-color: #754ffe;
}